.order-detail-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
}

.top-section {
  flex: 1;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1rem;
}

.bottom-section {
  flex: 1;
  display: flex;
  gap: 4rem;
  margin:1rem auto;
  text-align: left;
}

.bottom-section h3{
  text-align: center;
}

.left-column,
.right-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  min-width: 100px;
}

.quote-form {
  margin-bottom: 1rem;
}

.quote-list > div {
  padding: 0.5rem 0;
}